.container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    max-width: 270px;
    padding: 10px;
    margin-bottom: 8px;
}

.list {
    margin-right: 90px;
}

.listItem {
    margin-bottom: 8px;
}